<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat Da Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js" type="text/javascript"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
